nav {
    height: 80px;
    background-color: #00a087;
    color: #e8fdff;
}
#nav-bar {
    padding: 0em 2em 0em 2em;
}
#nav-bar .logo {
    width: 80px;
    height: 80px;
}
#nav-bar .header {
    padding: 0em 0em 0em 10px;
    font-size: 200%;
    vertical-align: 0.8em;
}
#compose {
    color: #00a087;
    background-color: #e8fdff;
    float: right;
    vertical-align: middle;
    height: 60px;
    margin-top: 10px;
    border: 0.05em solid black;
    border-radius: 8px;
}