article {
    border: .1em solid #e0e0e0;
    border-radius: 8px;
    /* background-color: black; */
    padding: .0em .0em .0em .0em
}
article.avatar {
    float: left;
}

article.handle {
    float: right;
}
article.header {
    border-bottom: 0.05em solid #e0e0e0;
    background-color: black;
    margin-left: 0.1em;
}
#tweets-container.footer {
    margin-left: 0.3em;
    float: left; 
    border-top: 0.05em solid #e0e0e0;
}
article:hover {
    border: 0.2em solid #d3d3d3;
}