article {
    border: .1em solid #e0e0e0;
    border-radius: 8px;
}

header {
    border-bottom: 0.05em solid #e0e0e0;
    background-color: #e0e0e0;
    margin-left: 0.01em;
}

header[name="handle"] {
    float: right;
    margin-right: 10em;
}

.avatar {
    border-radius: 8px;
}

span[name="tweet"] {
    padding: 0.05em 0.05em 0.05em 0.05em;
    margin-left: 0.7em;
    margin-right: 0.5em;
    width: 370px;
    height: auto;
}

.footer {
    border-top: 0.05 solid #e0e0e0;
    padding: 0.05em 0.05em 0.05em 0.05em;
}

article:hover {
    border: 0.1em solid #bababa;
}

img[name="flags"] {
    width: 15px;
    opacity: 0;
    margin-right: 0.1em;
    float: right;
    margin-bottom: 0.05em;
}

article:hover img[name="flags"] {
    width: 15px;
    margin-right: 0.1em;
    float: right;
    margin-bottom: 0.05em;
    opacity: 100;
}